@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/RubikMonoOne-Regular.ttf);
}

body{
    height: 2500px;
}

#navbar{
    width: 100%;
    border-bottom: solid 2px #000;
}

.navbar-btn{
    all: unset;
}

.nav-link{
    margin: 0px 10px;
}

