::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--beige); 
  }

  ::-webkit-scrollbar-thumb {
    background: #333333; 
    border-radius: 10px;
  }
  
#navbar{
    width: 100%;
    border-bottom: solid 2px #000;
    background-color: var(--beige);
}

.navbar{
  font-family: Roboto-Bold;
}

.navbar-btn{
    all: unset;
}

.nav-link{
    margin: 0px 10px;
}

.dropdown-menu{
  border-radius: 0px !important;
  background-color: var(--beige) !important;
}

.dropdown-item:active, .dropdown-item:hover{
  background-color: var(--beige)!important;
}

.navbar-btn:hover{
  transform: scale(1.1);
}
