@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/RubikMonoOne-Regular.ttf);
}

:root{
    --beige : #FCEFE1;
}

body{
    background-color: var(--beige);
    overflow-x: hidden;
}

.header{
    font-family: Rubik;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--beige); 
  }

  ::-webkit-scrollbar-thumb {
    background: #333333; 
    border-radius: 10px;
  }