#navbar{
    top: 0px;
}

#technology{
    margin-top: 50px;
}

.subheading{
    color: rgb(97, 97, 97);
    margin-left: 50px;
}

.description{
    margin: 50px;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 10px 10px #FFF, 
    10px 10px 0px 1px #000;
}

#tech-name{
    margin: 100px 50px 0px 50px;
}


#learn{
    margin: 50px;
}

.tech-link{
    width: 50vw;
    border-bottom: 1px solid #000;
    margin: auto;
}

.tech-link img{
    height: 100px;
    vertical-align: middle;
}

.tech-link a, .tech-link a:hover{
    all: unset;
    font-size: 35px;
    vertical-align: middle;
    color: rgb(97, 97, 97);
    font-family: Roboto-bold;
}

.Language .header{
    color: var(--orange);
}

.Language .description {
    background: var(--orange);
}

.JavaScript-Library .header{
    color: var(--green);
}

.JavaScript-Library .description {
    background: var(--green);
}

.CSS-Framework .header{
    color: var(--yellow);
}

.CSS-Framework .description {
    background: var(--yellow);
}

@media (max-width: 769px) {
    .tech-link{
        width: 80vw;
    }
}