#navbar{
    top: 0px;
}

.subheading{
    color: rgb(97, 97, 97);
    margin-left: 50px;
}

.description{
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 10px 10px #FFF, 
    10px 10px 0px 1px #000;
}

#technology{
    display: block;
}

#tech-name{
    margin: 100px 50px 0px 50px;
}


#learn{
    margin: 50px;
}

.content-card{
    margin: auto;
    border-radius: 15px;
    border: 1px solid #000000;
    width: 15vw;
    background-color: var(--beige);
    display: table-cell;
}


@media (max-width: 1440px){

}

@media (max-width: 768px){
    .content-card{
        margin: 20px auto;
        width: 40vw;
    }
}

.Language .header{
    color: var(--orange);
}

.Language .description {
    background: var(--orange);
}

.JavaScript-Library .header{
    color: var(--green);
}

.JavaScript-Library .description {
    background: var(--green);
}

.CSS-Framework .header{
    color: var(--yellow);
}

.CSS-Framework .description {
    background: var(--yellow);
}